version: '3.8'

services:
  rag-app:
    build: .
    ports:
      - "8005:8000"
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - TAVILY_API_KEY=${TAVILY_API_KEY}
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=rag_user
      - POSTGRES_PASSWORD=rag_password
      - POSTGRES_DATABASE=rag_db
    depends_on:
      - db
    volumes:
      - ./rag_storage:/app/rag_storage

  db:
    image: pgvector/pgvector:pg16
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_USER=rag_user
      - POSTGRES_PASSWORD=rag_password
      - POSTGRES_DB=rag_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
